git+https://github.com/chirpstack/chirpstack.git@f647949#egg=chirpstack-api&subdirectory=api/python/src #build v4.6.0 from source
git+https://github.com/waggle-sensor/chirpstack_api_wrapper #TODO: add the version tag once released in github
